<ul class="nav flex-column">
    <li class="nav-item"><a routerLink="/" class="nav-link">Home</a></li>
    <li class="nav-item"><a routerLink="/books" class="nav-link">Books</a></li>
    <li class="nav-item"><a routerLink="/camping" class="nav-link">Camping</a></li>
    <li class="nav-item"><a routerLink="/christmas" class="nav-link">Christmas</a></li>
    <li class="nav-item"><a routerLink="/educational" class="nav-link">Educational</a></li>
    <li class="nav-item"><a routerLink="/fitness" class="nav-link">Fitness</a></li>
    <li class="nav-item"><a routerLink="/foreign-languages" class="nav-link">Foreign Languages</a></li>
    <li class="nav-item"><a routerLink="/free" class="nav-link">Free</a></li>
    <li class="nav-item"><a routerLink="/furniture" class="nav-link">Furniture</a></li>
    <li class="nav-item"><a routerLink="/home-decor" class="nav-link">Home Decor</a></li>
    <li class="nav-item"><a routerLink="/toys" class="nav-link">Toys</a></li>
</ul>
